*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}
a{
    text-decoration: none;
}


#header {
    height: 100px;
    position: relative;
    width: 100%;
    display: inline-block;
    flex-wrap: nowrap;

}
#menu_khachhang{
    display: inline-block;
}
#menu{
    list-style-type: none;
    display: flex;
    color: black;
}
#menu img{
    margin-right: 5px;
}
#menu>li{
    margin: 10px 50px;
    vertical-align: middle;
}
#menu >a{
    vertical-align: middle;
}
#menu li a{
    margin-top: 10px;
    color: #000;
}
#menu  li:hover li:hover {
    background-color: #dcdada;
}
#taikhoan_sub{
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    list-style-type: none;
    /* padding: 20px; */
    width: 100px;
    z-index: 3;
    line-height: 25px;
    /* margin-left: 10px; */
}
#taikhoan_sub li a{
    /* padding-left: 10px; */
    text-align: left;
    margin-left: 10px;
}


#menu_khachhang li:hover #taikhoan_sub{
    display:block;

}

#nav{
    background-color: #e23a42;
    line-height: 34.5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    
}
#nav, .subnav{
    list-style-type: none;
}

#nav >li {
    display: inline-block;
}
#nav li a {
    color: #FFF;
    padding: 0 20px ;
    position: relative;
}
#nav >li >a{
    text-transform: uppercase;
}
#nav li:hover .subnav{
    display: block;
}
#nav li:hover .subnav li:hover {
    background-color: rgb(213, 171, 107);
}
#nav .subnav{
    display : none;
    position: absolute;
    background-color: beige;
    
    
}
#nav .subnav a{
    color: black;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

.block  {
    position: relative;
    flex-flow: wrap;
}

#icon{
    position: relative;
    display: inline-block;
}
#search{
    display: inline-flex;
    margin: 15px 170px;
}
#slider {
    margin-top: 50px;
    padding-top: 50%;
    background: url('/nmcnpm/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#content {
    margin-top: 30px;
    margin-left: 50px;
    text-transform: uppercase;
}
#content li{
    margin-top: 20px;
    list-style-type: none;
}


#footer {
    height: 470px;
    background-color: aliceblue;
    display: inline-block;
    padding: 0;
    margin: 20px;
}
#footerForm{
    display: inline-block;
    margin-bottom: 30px;
}
#footer div {
    display: inline-block;
}
.col-lg-12 {
    width: 100%;
    margin-bottom: 30px;
}

.social-link>li {
    /* padding-left: 50%; */
    display: inline-block;
    list-style-type: none;
    position: relative;

}
.theodoi{
    float: right;
}
.title-01{
    width: 100%;
    text-align: center;
}


