*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border:1px solid black;
  }
table{
    width: 100%;
    margin-right: 10;
}
#header1{
    width: 100%;
    background-color: #e23a42;
}
#icon{
    width: 100%;
    /* background-color: #e23a42; */
    
}
a{
    text-decoration: none;
    color: #000;
}
#header{
    width: 100%;
}
#giohang{
    max-width: 100%;
    max-height: fit-content;
    margin: 20px;
}

table>tr>td>a{
    text-align: center;
    left: 0;
    right: 0;
}
#thanhtoan{
    float: right;
    margin: 0 100px;
}
#thanhtoan a{
    text-decoration: none;
    background-color: rgb(105, 105, 105);
    border: 1px solid black;
    color: aliceblue;
    line-height: 20px;
    padding: 10px 10px;
    height: 200px;
}
#footer {
    height: 470px;
    background-color: aliceblue;
    display: inline-block;
    padding: 0;
    margin: 20px;
}
#footerForm{
    display: inline-block;
    margin-bottom: 30px;
}
#footer div {
    display: inline-block;
}
.col-lg-12 {
    width: 100%;
    margin-bottom: 30px;
}

.social-link>li {
    /* padding-left: 50%; */
    display: inline-block;
    list-style-type: none;
    position: relative;

}
.theodoi{
    float: right;
}
.title-01{
    width: 100%;
    text-align: center;
}