table, th, td {
    border:1px solid black;
  }
table{
    width: 100%;
    margin-right: 10;
}
table>tr>td>a{
    text-align: center;
    left: 0;
    right: 0;
}
#thanhtoan{
    float: right;
    margin: 0 100px;
}
#thanhtoan a{
    text-decoration: none;
    background-color: rgb(105, 105, 105);
    border: 1px solid black;
    color: aliceblue;
    line-height: 20px;
    padding: 10px 10px;
}